<body class ="image responsive home-bg">
  <h2 class="homepage-h1">New from TAC</h2>
  <h2 class="homepage-main">Workout Lounge</h2>
  <p class="homepage-p">Show them what you've got.</p>
  
  <div class="row">
    <div class="center home">
      <p class="homepage-p">All Members<p>
      
      <% @athletes.each do |athlete| %>
      <div>
        <%= athlete.full_name %>
      </div>
      <% end %>
      
    </div>
  </div>
</body>