<div class="row">
  <div class="col s12 center">
    <% @athletes.each do |athlete| %>
  <div>
    <%= athlete.full_name %>
     <% if current_user %>
        <%= link_to "add", friendships_path(friend_id: athlete.id),
        method: :post,
        class: 'material-icons' unless current_user.follows_or_same?(athlete) %>
     <% end %>
  </div>
    <% end %>
  </div>
</div>
<!--<ul class="pagination"><li class="waves-effect">-->
<!--<%= will_paginate @athletes %></li></ul>-->
