<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">TAC Purpose</h5>
        <p class="grey-text text-lighten-4">This project was created by Sandra Hallie to gain a 
        deep understanding of feature testing with RSpec and Capybara. This project is not in its final
        form and will soon be updated with further functionalities.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <%= link_to 'https://github.com/sanlouise/rspec-workouts' do %>
            <i class="fa fa-github fa-3x"></i>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
    © 2016 Sandra Hallie
    </div>
  </div>
</footer>