<nav>
  <div class="nav-wrapper blue darken-3">
    <a href="/" class="brand-logo">The Athletes Crib</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><%= link_to "Sign Up", new_user_registration_path %> </li>
    </ul>
  </div>
</nav>
